# Python / Streamlit
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.env
.streamlit/

# Dependencies & Node
**/node_modules
.pnpm-store/
dist/
build/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

